.RegisterLoginButton {
  color: palevioletred;
  background-color: #171a19;
  border: 1px solid palevioletred;
  font-size: 1.5rem;
  border-radius: 10px;
}

.RegisterLoginButton:hover {
  color: #00d8ff;
  background-color: #171a19;
  border: 1px solid #00d8ff;
}

.LinkLogInRegister:hover {
  color: #00d8ff;
}

.LinkLogInRegister {
  font-size: 0.9rem;
  color: palevioletred;
}

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  background-color: #171a19;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Title {
  font-weight: bold;
}

.PokemonDescription {
  width: 300px;
}

.UserContainer {
  margin-top: 6rem;
  margin-left: 6rem;
}
.TimerContainer {
  margin-top: 6rem;
  margin-right: 6rem;
}

.PokemonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PokemonImage {
  width: 200px;
  height: 200px;
}

.PokemonData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
}

.UserButton {
  background-color: #171a19;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.CollectCoinsButton {
  background-color: #171a19;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.UserButton:hover {
  color: #00d8ff;
}

.CollectCoinsButton:hover {
  color: #00d8ff;
}
