.SiteContainer {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
}

.Header {
  border-bottom: 1px solid red;
  text-align: center;
}

.PokemonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PokemonImage {
  border: 3px solid black;

  width: 300px;
  height: 300px;
}

.PokemonData {
  display: flex;
  flex-direction: column;
}
