.SiteContainer {
  display: flex;
  flex-direction: column;
}

.Header {
  background-color: #171a19;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Title {
  font-weight: bold;
}

.PokemonDescription {
  width: 300px;
}

.PokemonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PokemonImage {
  width: 200px;
  height: 200px;
}

.PokemonData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
}
